parameterized
sortedcontainers
pydantic
pydantic-settings
SQLAlchemy
asyncpg
psycopg2-binary
alembic
testcontainers-postgres
testcontainers-minio
minio
fastapi
uvicorn[standard]
python-jose[cryptography]
bcrypt
aiosmtplib